.total {
  margin-bottom: 5px;

  font-weight: 700;

  &__value {
    color: cornflowerblue;
  }
}

.positive {
  font-weight: 700;

  &--high {
    color: forestgreen;
  }

  &--low {
    color: tomato;
  }
}
